{% extends "base.html" %}

{% block content_title %}{% endblock %}

{% if articles %}

    {% block lnxnav %}
    <a href="{{ SITEURL }}/sitemap">SiteMap</a> | <a href="">Contact</a>
    {% endblock lnxnav %}

{% endif  %}

{% block content %}
<section id="content">
    <ul id="post-list">
    {% for article in articles_page.object_list %}
            <li><article class="hentry">
                    <header> <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
                    <footer class="post-info linickx-control">
                        <abbr class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </abbr>
                    </footer><!-- /.post-info -->
                    <div class="entry-content"> {{ article.summary }} <a href="{{ SITEURL }}/{{ article.url }}" >[Read More]</a></div><!-- /.entry-content -->
            </article>
            <hr style="border-top: 1px solid white;" /></li>
    {% endfor %}
    </ul><!-- /#posts-list -->
{% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}
